* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* padding: 20px; */
}

/* Header styles */
header {
    background-color: #796e6e;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    margin-right: auto; /* Pushes the buttons to the left */
    width:100%;
}

.nav-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; /* Added round edges */
}

.nav-button:hover {
    background-color: #45a049;
}

.active {
    background-color: #357a38;
}

.nav-buttons-right {
    display: flex;
    gap: 10px;
    margin-left: auto; /* Pushes the buttons to the right */
}

.nav-button-right {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; /* Added round edges */
    margin-left: auto; /* Pushes the button to the right */
}

.nav-button-right:hover {
    background-color: #007095;
}

/* Container and general styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #007095;
}

.auth-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}

.auth-link {
    color: #008CBA;
    text-decoration: none;
    font-size: 14px;
}

.auth-link:hover {
    text-decoration: underline;
    color: #005f8a;
}